.avatarContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #f2f0f0d3;
  border-radius: 10px;
  height: 350px;
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  gap: 5px;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.avatarText {
  font-weight: 700;
  font-size: 25px;
}

.avatarImages {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  width: 130px;
  list-style-type: none;
}
