.avatarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    height: 50%;
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}



