@import "./../../../styles/vars.scss";

.petActivity{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
}
.barLine{
    border: 1px solid black;
}
.headerSecond{
    margin-top: 10px;
}