@import "./../../../styles/vars.scss";

.petActivity{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}
.barLine{
    border: 1px solid black;
}
.profileMainConainter h2{
    margin-top: 20px;
}