@import "./../../../styles/vars.scss";

.priceLine{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}
.priceBar{
    border: 1px solid black;
}