@import "../../styles/vars.scss";

.registerContainer {
    height: 100%;
    width: 100%;
    color: black;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register {
    height: 900px;
    width: 1000px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
}