@import "../../../styles/vars.scss";

.sectionsWrapper {
  height: 100%;
  width: 100%;
  font-family: $font-poppins;
  font-weight: 500;
  font-size: 40px;
  background-image: url("../../../assets/homepage_photo.jpg");
  background-size: cover;
  color: white;
}

.sectionsWrapper .welcomePageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 500px;
  padding: 160px 0;
  position: relative;
  left: 200px;
}

.sectionsWrapper .welcomePageWrapper .zwierzakText {
  font-family: $font-poppins;
  font-size: 40px;
  font-weight: 500;
  color: $orange;
}

.sectionsWrapper .welcomePageWrapper .buttonZarejestruj {
  font-size: 30px;
  font-weight: 400;
  margin: 20px 0;
  padding: 15px 45px;
  background-color: $orange;
  border: none;
  border-radius: 70px;
  color: white;
}

.sectionsWrapper .welcomePageWrapper .buttonZarejestruj:hover {
  transform: scale(1.1);
}

.sectionsWrapper .welcomePageWrapper .buttonZarejestruj:active {
  background-color: white;
  color: $orange;
}
