@import "../../styles/vars.scss";

.mainPageContainer {
  height: 100vh;
  display: grid;
  justify-content: start;
  font-family: $font-poppins;
  color: white;
  background-image: url("../../assets/1-homepage-dog-picture.jpg");
  background-size: cover;
}

.mainPageContainer .mainText {
font-weight: 300;
font-size: 40px;
padding: 20px 200px 0 40px;
}

.mainPageContainer .spanZwierzak {
  color: $secondaryColorOrange;
  font-family: $font-architects;
  font-size: 4rem;
  font-weight: 500;

}


.mainPageContainer .buttonContainer {
  padding-left: 100px;
}

.mainPageContainer .buttonZarejestruj {
  padding: 30px 50px;
  font-size: 30px;
  font-weight: 400;
  color: black;
  background-color: #80d673;
  border: none;
  border-radius: 70px;
}

.mainPageContainer .buttonZarejestruj:hover {
  transform: scale(1.1);
}

.mainPageContainer .buttonZarejestruj:active {
  background-color: black;
  color: #80d673;
}

.carousel {
  height: 100vh;
  width: 800px;
}