@import "../../../styles/vars.scss";
@import "../../../styles/button.module.scss";


.petsitterCard {
    display: flex;
    padding: 20px;
    background-color: $grey;
    border-radius: 15px;
    justify-content: space-between;
    margin: 15px 10px;

    img {
        height: 140px;
        width: 140px;
        margin-right: 15px;
    }
}

.avatarAndInfo {
    display: flex;

}

.petsitterInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        text-align: left;
        font-size: 24px;
        font-weight: bold;
    }

    p {
        font-size: 15px;
        font-weight: normal;
    }
}

.serviceInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-left: 20px;

    .price {
        text-align: right;

        .sum {
            font-size: 15px;
            font-weight: bold;
        }

        .amount {
            font-size: 32px;
            font-weight: bold;
        }
    }

    .askButton {
        width: 263px;
        height: 50px;
        font-size: 16px;

        a,
        a:hover,
        a:active,
        a:visited {
            text-decoration: none;
            color: white;
        }
    }
}

.noPetsitters {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}